.spot-image-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.spot-image-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.spot-image-li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.spot-info {
  margin-bottom: 8px;
}
