.form-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  width: 100%;
  padding-bottom: 60px;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaaaaa;
  padding: 20px;
  justify-content: center;
  background-color: #f7f5f5;
  /* color: #fff; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}


.create-new-spot-label {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  /* position: relative;
  left: 10px; */
}


.create-new-spot-input {
  width: 100%;
  margin: 0px auto;
  padding-left: 2px;
}


.create-new-spot-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  margin-top: 200px;
}

.line {
  border: 1px solid #a3a1a1;
  height: 0.1px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.create-new-spot-error-ul {
  list-style: none;
  position: relative;
  right: 7.5%;
  font-size: 10px;
  color: red;
}


.create-new-spot-preview-image {
  height: 50px;
  width: 80px;
}

.create-new-spot-span {
  font-size: x-small;
  margin-top: 5px;
  margin-bottom: 7px;
  color: #888;
}

.create-new-spot-button {
  border-radius: 10px;
  border: 0.5px solid #534b91;
  padding: 2px 4px;
  cursor: pointer;
  color: #534b91;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.create-new-spot-button:hover {
  background-color: #ececec;
}
