.delete-review-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.delete-review-modal.open {
  display: block;
}

.delete-review-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
}

.delete-review-modal-buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 20px;
}

.delete-review-modal-delete-button {
  margin-right: 45px;
  background-color: #e87979;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
}

.delete-review-modal-cancel-button {
  background-color: #79bee8;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
}

.delete-review-modal-cancel-button:hover {
  background-color: #6dabd1;
}

.delete-review-modal-delete-button:hover {
  background-color: #d46e6e;
}
