.spot-image-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(min(25%, 250px), 1fr));
  gap: 20px;
  width: 1000px;
  align-items: center;
  height: 80vh;
  margin: 40px auto 0;
  position: relative;
  right: 30px;
}

.spot-image-ul {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
  display: contents;
}

.spot-image-li {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 7px rgba(65, 49, 111, 0.3);
  background-color: #faf7ff;
  margin-bottom: 0px;
  color: #534b91;
}

.spot-image-li i {
  color: #489cdc;
}

.stars {
  position: relative;
  bottom: 30px;
  left: 190px;
  color: #534b91;
}

.stars i {
  color: #e6ea0b;
}

.spot-info {
  margin-bottom: 8px;
}

.preview-image-img {
  height: 150px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(65, 49, 111, 0.3);
  cursor: pointer;
}

.preview-image-div {
  height: 215px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.price {
  position: relative;
  bottom: 18px;
  left: 10px;
  color: #534b91;
  /* z-index: 100; */
}


@media (max-width: 1103px) {
  .spot-image-container {
    grid-template-columns: repeat(3, minmax(min(50%, 250px), 1fr));
    width: 100%;
    right: 0;
  }
}

@media (max-width: 768px) {
  .spot-image-container {
    grid-template-columns: repeat(2, minmax(min(50%, 250px), 1fr));
    width: 100%;
    right: 0;
  }
}


@media (max-width: 480px) {
  .spot-image-container {
    grid-template-columns: 1fr;
    width: 100%;
    right: 0;
  }
}
