/* TODO Add site wide styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #faf8f8;
}
