.signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
}

.signup-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form__submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 15px;
  width: 100%;
}

.signup-form__submit-btn:hover {
  background-color: #0056b3;
}

ul {
  color: red;
  padding-left: 0;
  list-style-type: none;
}
