.nav-ul {
  display: flex;
  /* position: fixed;
  top: 0; */
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-right: 5px;
  /* margin-bottom: 5px; */
  background-color: #fafafa;
  width: 100%;
  /* border-bottom: 1px solid #000; */
  height: 80px;
}



.nav-li {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-right: 10px;
}


.logo {
  height: 39px;
  width: 37px;
  padding-left: 70px;
}

.nav-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 100;
  background-color: #fafafa;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create_spot_link {
  text-decoration: none;
  color: #667;
}

.create-spot-button {
  margin-right: 20px;
  /* margin-bottom: 5px; */
  border: 1px solid #534b91;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 4px 10px;
  color: #534b91;
}

.create-spot-button:hover {
  background-color: #f5f5f5;
}

.logged_in_icon {
  padding-right: 70px;
}

.not_logged_in {
  padding-right: 80px;
}

.sign-log-in-link {
  border-radius: 10px;
  border: none;
  background-color: #382c8e;
  color: #f5f5f5;
  padding: 2px 7px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 3px;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sign-log-in-link:hover {
  background-color: #4235a5;
  color: #ffffff;
}

.create_spot_link {
  color: #534b91;
}
