.profile-dropdown {
  position: absolute;
  z-index: 100;
  background-color: white;
  list-style-type: none;
  top: 60px;
  right: 120px;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 10px;
  max-width: 220px;
  /* overflow: auto; */
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown .profile-li:not(:last-child) {
  display: block;
  padding: 10px 0;
  text-align: center;
  margin: 4px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}

/* .profile-dropdown .profile-link {
  padding-bottom: 5px;
} */

.profile-dropdown .profile-button {
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 10px;
  border: none;
  background-color: #190d71;
  color: #fff;
  padding: 2px 8px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-dropdown .profile-button:hover {
  background-color: #382e7c;
  transition: all ease-in 0.2s;
}

.fas.fa-user-circle {
  font-size: 1.5em;
  cursor: pointer;
  /* background-color: #faf8f8; */
  background-color: #faf8f8;
  border-radius: 50%;
  color: #190d71;
  /* margin-right: 70px; */
}

.fas.fa-user-circle:hover {
  background-color: #fbd2ce;
  transition: all 0.4s ease-in-out;
}

.icon-button:hover {
  background-color: #f1bdb8;
  border-radius: 20px;
  border: none;
}

.icon-button {
  padding: 0px;
  /* Add padding to create space between the icon and the border */
  background-color: #fbc4bf;
  /* Add a background color to make it look like a button */
  border-radius: 50%;
  /* Set border-radius to 50% for a circle shape */
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
