.profile-dropdown {
  position: absolute;
  z-index: 100;
  background-color: white;
  list-style-type: none;
  top: 60px;
  right: 120px;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 10px;
  max-width: 220px;
  /* overflow: auto; */
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown .profile-li:not(:last-child) {
  display: block;
  padding: 10px 0;
  text-align: center;
  margin: 4px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}

/* .profile-dropdown .profile-link {
  padding-bottom: 5px;
} */

.profile-dropdown .profile-button {
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: none;
  background-color: #f97f74;
  color: #fff;
  padding: 5px 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.profile-dropdown .profile-button:hover {
  background-color: #e46e63;
}

.fas.fa-user-circle {
  font-size: 1.5em;
  cursor: pointer;
  /* margin-right: 70px; */
}
