.profile-dropdown {
  position: absolute;
  z-index: 100;
  background-color: white;
  list-style-type: none;
  top: 50px;
  right: 125px;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 10px;
  max-width: 220px;
  /* overflow: auto; */
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  display: block;
  padding: 8px 0;
  text-align: center;
  margin: 4px 0;
  display: flex;
  flex-wrap: wrap;
}

.profile-dropdown li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.profile-dropdown button {
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: none;
  background-color: #f97f74;
  color: #fff;
  padding: 5px 8px;
  font-weight: bold;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background-color: #e46e63;
}

.fas.fa-user-circle {
  font-size: 1.5em;
  cursor: pointer;
}
